## Data types in detail

In [ ]:
'''
immutable 
tuple 
string
frozenset



Mutable 
List 
Dictionary 
Set

'''

In [ ]:
name = "Mohd Sohail"
print(name)
print(id(name))

Mahesh Kumar
3112009084848

In [7]:
number = int(input("ENter the input number : "))
print(type (number))
print(number)

<class 'int'>
25

In [ ]:
print("I am a python developer ")

print('name', name , 'course ' ,course, 'college ' ,college)

I am a python developer
name Mohd sohail course  Python  college  Besant Technologies

### eval() function is used for evaluating the data type, the data type will be in any format or type

In [31]:
random_number = eval(input("Enter the number : "))
print(type(random_number))
print(random_number)

<class 'int'>
10

In [30]:
name = "Mohd sohail"
course = "Python "
college = "Besant Technologies "
print("Name", name , "course",course, "College" ,college)
print("name {} course {} college{}".format(name, course, college))
print(f"name {name} course {course} college {college}")

Name Mohd sohail course Python  College Besant Technologies
name Mohd sohail course Python  collegeBesant Technologies
name Mohd sohail course Python  college Besant Technologies