# Pandas

* Pandas is one of the tools or libraries in python which is use d for data analytics and data science activities 
* Pandas is fast, powerful, flexible and easy to use open source data analysis and manipulation tool
* Pandas is a Python library
* Pandas is used to analyze the data

#### Installation of Pandas 

* pip install pandas

#### How to use pandas in our program and code 

* import pandas as pd

In [1]:
import pandas as pd

In [ ]:
# How to read a file 
# df = pd.read_excel("filename.xlsx", sheet_name='Page 1')
df = pd.read_csv("customers-100.csv")

# when we want to see the top 5 records in the dataset file 
df.head(15)

# when we want to see the last 5 records in the dataset file 
# df.tail(5)

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/
5,6,2d08FB17EE273F4,Aimee,Downs,Steele Group,Chavezborough,Bosnia and Herzegovina,(283)437-3886x88321,999-728-1637,louis27@gilbert.com,2020-02-25,http://www.berger.net/
6,7,EA4d384DfDbBf77,Darren,Peck,"Lester, Woodard and Mitchell",Lake Ana,Pitcairn Islands,(496)452-6181x3291,+1-247-266-0963x4995,tgates@cantrell.com,2021-08-24,https://www.le.com/
7,8,0e04AFde9f225dE,Brett,Mullen,"Sanford, Davenport and Giles",Kimport,Bulgaria,001-583-352-7197x297,001-333-145-0369,asnow@colon.com,2021-04-12,https://hammond-ramsey.com/
8,9,C2dE4dEEc489ae0,Sheryl,Meyers,Browning-Simon,Robersonstad,Cyprus,854-138-4911x5772,+1-448-910-2276x729,mariokhan@ryan-pope.org,2020-01-13,https://www.bullock.net/
9,10,8C2811a503C7c5a,Michelle,Gallagher,Beck-Hendrix,Elaineberg,Timor-Leste,739.218.2516x459,001-054-401-0347x617,mdyer@escobar.net,2021-11-08,https://arias.com/
10,11,216E205d6eBb815,Carl,Schroeder,"Oconnell, Meza and Everett",Shannonville,Guernsey,637-854-0256x825,114.336.0784x788,kirksalas@webb.com,2021-10-20,https://simmons-hurley.com/
11,12,CEDec94deE6d69B,Jenna,Dodson,"Hoffman, Reed and Mcclain",East Andrea,Vietnam,(041)737-3846,+1-556-888-3485x42608,mark42@robbins.com,2020-11-29,http://www.douglas.net/
12,13,e35426EbDEceaFF,Tracey,Mata,Graham-Francis,South Joannamouth,Togo,001-949-844-8787,(855)713-8773,alex56@walls.org,2021-12-02,http://www.beck.com/
13,14,A08A8aF8BE9FaD4,Kristine,Cox,Carpenter-Cook,Jodyberg,-,786-284-3358x62152,+1-315-627-1796x8074,holdenmiranda@clarke.com,2021-02-08,https://www.brandt.com/
14,15,6fEaA1b7cab7B6C,Faith,Lutz,Carter-Hancock,Burchbury,Sri Lanka,(781)861-7180x8306,207-185-3665,cassieparrish@blevins-chapman.net,2022-01-26,http://stevenson.org/

In [3]:
# This will give us the complete information of the dataset or dataframe

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Index              100 non-null    int64
 1   Customer Id        100 non-null    object
 2   First Name         100 non-null    object
 3   Last Name          100 non-null    object
 4   Company            100 non-null    object
 5   City               100 non-null    object
 6   Country            100 non-null    object
 7   Phone 1            100 non-null    object
 8   Phone 2            100 non-null    object
 9   Email              100 non-null    object
 10  Subscription Date  100 non-null    object
 11  Website            100 non-null    object
dtypes: int64(1), object(11)
memory usage: 9.5+ KB

In [4]:
# Describe the statistical information of the numerical columns

df.describe()

            Index
count  100.000000
mean    50.500000
std     29.011492
min      1.000000
25%     25.750000
50%     50.500000
75%     75.250000
max    100.000000

In [5]:
# Prints all the columns of the dataframe

df.columns

Index(['Index', 'Customer Id', 'First Name', 'Last Name', 'Company', 'City',
       'Country', 'Phone 1', 'Phone 2', 'Email', 'Subscription Date',
       'Website'],
      dtype='object')

In [6]:
# Transpose (Conversion of Rows to column and columns to rows)

df.T

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
Index,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,100
Customer Id,DD37Cf93aecA6Dc,1Ef7b82A4CAAD10,6F94879bDAfE5a6,5Cef8BFA16c5e3c,053d585Ab6b3159,2d08FB17EE273F4,EA4d384DfDbBf77,0e04AFde9f225dE,C2dE4dEEc489ae0,8C2811a503C7c5a,...,5ef6d3eefdD43bE,98b3aeDcC3B9FF3,aAb6AFc7AfD0fF3,54B5B5Fe9F1B6C5,BE91A0bdcA49Bbc,cb8E23e48d22Eae,CeD220bdAaCfaDf,28CDbC0dFe4b1Db,c23d1D9EE8DEB0A,2354a0E336A91A1
First Name,Sheryl,Preston,Roy,Linda,Joanna,Aimee,Darren,Brett,Sheryl,Michelle,...,Nina,Shane,Collin,Sherry,Darrell,Karl,Lynn,Fred,Yvonne,Clarence
Last Name,Baxter,Lozano,Berry,Olsen,Bender,Downs,Peck,Mullen,Meyers,Gallagher,...,Chavez,Foley,Ayers,Young,Douglas,Greer,Atkinson,Guerra,Farmer,Haynes
Company,Rasmussen Group,Vega-Gentry,Murillo-Perry,"Dominguez, Mcmillan and Donovan","Martin, Lang and Andrade",Steele Group,"Lester, Woodard and Mitchell","Sanford, Davenport and Giles",Browning-Simon,Beck-Hendrix,...,Byrd-Campbell,Rocha-Hart,Lamb-Peterson,"Lee, Lucero and Johnson","Newton, Petersen and Mathis",Carey LLC,"Ware, Burns and Oneal",Schmitt-Jones,Fitzgerald-Harrell,"Le, Nash and Cross"
City,East Leonard,East Jimmychester,Isabelborough,Bensonview,West Priscilla,Chavezborough,Lake Ana,Kimport,Robersonstad,Elaineberg,...,Cassidychester,South Dannymouth,South Lonnie,Frankchester,Daisyborough,East Richard,New Bradview,Ortegaland,Lake Elijahview,Judymouth
Country,Chile,Djibouti,Antigua and Barbuda,Dominican Republic,Slovakia (Slovak Republic),Bosnia and Herzegovina,Pitcairn Islands,Bulgaria,Cyprus,Timor-Leste,...,Bhutan,Hungary,Anguilla,Solomon Islands,Mali,Guyana,Sri Lanka,Solomon Islands,Aruba,Honduras
Phone 1,229.077.5154,5153435776,+1-539-402-0259,001-808-617-6467x12895,001-234-203-0635x76146,(283)437-3886x88321,(496)452-6181x3291,001-583-352-7197x297,854-138-4911x5772,739.218.2516x459,...,053-344-3205,+1-822-569-0302,404-645-5351x012,158-687-1764,001-084-845-9524x1777,(188)169-1674x58692,+1-846-706-2218,+1-753-067-8419x7170,(530)311-9786,(753)813-6941
Phone 2,397.884.0519x718,686-620-1820x944,(496)978-3969x58947,+1-813-324-8756,001-199-446-3860x3486,999-728-1637,+1-247-266-0963x4995,001-333-145-0369,+1-448-910-2276x729,001-054-401-0347x617,...,+1-330-920-5422x571,001-626-114-5844x55073,001-257-582-8850x8516,(438)375-6207x003,001-769-564-6303,001-841-293-3519x614,605.413.3198,+1-632-666-7507x92121,001-869-452-0943x12424,783.639.1472
Email,zunigavanessa@smith.info,vmata@colon.com,beckycarr@hogan.com,stanleyblackwell@benson.org,colinalvarado@miles.net,louis27@gilbert.com,tgates@cantrell.com,asnow@colon.com,mariokhan@ryan-pope.org,mdyer@escobar.net,...,elliserica@frank.com,nsteele@sparks.com,dudleyemily@gonzales.biz,alan79@gates-mclaughlin.com,grayjean@lowery-good.com,hhart@jensen.com,vkemp@ferrell.com,swagner@kane.org,mccarthystephen@horn-green.biz,colleen91@faulkner.biz
Subscription Date,2020-08-24,2021-04-23,2020-03-25,2020-06-02,2021-04-17,2020-02-25,2021-08-24,2021-04-12,2020-01-13,2021-11-08,...,2020-03-26,2021-07-06,2021-06-29,2021-04-04,2022-02-17,2022-01-30,2021-07-10,2021-09-18,2021-08-11,2020-03-11
Website,http://www.stephenson.com/,http://www.hobbs.com/,http://www.lawrence.com/,http://www.good-lyons.com/,https://goodwin-ingram.com/,http://www.berger.net/,https://www.le.com/,https://hammond-ramsey.com/,https://www.bullock.net/,https://arias.com/,...,https://www.pugh.com/,https://www.holt-sparks.com/,http://www.ruiz.com/,https://travis.net/,https://banks.biz/,http://hayes-perez.com/,https://novak-allison.com/,https://www.ross.com/,http://watkins.info/,http://www.hatfield-saunders.net/

In [7]:
# Sort your dataframe based on the age

df.sort_values("Country")

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
13,14,A08A8aF8BE9FaD4,Kristine,Cox,Carpenter-Cook,Jodyberg,-,786-284-3358x62152,+1-315-627-1796x8074,holdenmiranda@clarke.com,2021-02-08,https://www.brandt.com/
24,25,eC1927Ca84E033e,Shane,Wilcox,Tucker LLC,Bryanville,Albania,(429)005-9030x11004,541-116-4501,mariah88@santos.com,2021-04-06,https://www.ramos.com/
51,52,e898eEB1B9FE22b,Samuel,Crawford,"May, Goodwin and Martin",South Jasmine,Algeria,802-242-7457,626.116.9535x8578,xpittman@ritter-carney.net,2021-03-27,https://guerrero.org/
92,93,aAb6AFc7AfD0fF3,Collin,Ayers,Lamb-Peterson,South Lonnie,Anguilla,404-645-5351x012,001-257-582-8850x8516,dudleyemily@gonzales.biz,2021-06-29,http://www.ruiz.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
...,...,...,...,...,...,...,...,...,...,...,...,...
11,12,CEDec94deE6d69B,Jenna,Dodson,"Hoffman, Reed and Mcclain",East Andrea,Vietnam,(041)737-3846,+1-556-888-3485x42608,mark42@robbins.com,2020-11-29,http://www.douglas.net/
16,17,a5DC21AE3a21eaA,Caroline,Foley,Winters-Mendoza,West Adriennestad,Western Sahara,936.222.4746x9924,001-469-948-6341x359,holtgwendolyn@watson-davenport.com,2021-03-10,http://www.benson-roth.com/
88,89,efeb73245CDf1fF,Vernon,Kane,Carter-Strickland,Thomasfurt,Yemen,114-854-1159x555,499-608-4612,hilljesse@barrett.info,2021-04-15,http://www.duffy-hensley.net/
72,73,F560f2d3cDFb618,Candice,Keller,Huynh and Sons,East Summerstad,Zimbabwe,001-927-965-8550x92406,001-243-038-4271x53076,buckleycory@odonnell.net,2020-08-22,https://www.lucero.com/
30,31,64DCcDFaB9DFd4e,Jack,Tate,"Acosta, Petersen and Morrow",West Samuel,Zimbabwe,965-108-4406x20714,046.906.1442x6784,gfigueroa@boone-zavala.com,2021-09-15,http://www.hawkins-ramsey.com/

In [8]:
# If we want to print a specific Column then 

df['Last Name']

0       Baxter
1       Lozano
2        Berry
3        Olsen
4       Bender
        ...
95       Greer
96    Atkinson
97      Guerra
98      Farmer
99      Haynes
Name: Last Name, Length: 100, dtype: object

In [9]:
# Here i want to create a new column and want to 
# print the timing in that column


df['Timing'] = 'Evening'
df.head(5)

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website,Timing
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/,Evening
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/,Evening
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/,Evening
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/,Evening
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/,Evening

In [10]:
# How to access your rows 

df[65:70]  # Here we are approaching from row no. 65 to 70

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website,Timing
65,66,fF1b6c9E8Fbf1ff,Fernando,Lambert,Church-Banks,Lake Nancy,Lithuania,497.829.9038,3863743398,fisherlinda@schaefer.net,2021-04-23,https://www.vang.com/,Evening
66,67,2A13F74EAa7DA6c,Makayla,Cannon,Henderson Inc,Georgeport,New Caledonia,001-215-801-6392x46009,027-609-6460,scottcurtis@hurley.biz,2020-01-20,http://www.velazquez.net/,Evening
67,68,a014Ec1b9FccC1E,Tom,Alvarado,Donaldson-Dougherty,South Sophiaberg,Kiribati,(585)606-2980x2258,730-797-3594x5614,nicholsonnina@montgomery.info,2020-08-18,http://odom-massey.com/,Evening
68,69,421a109cABDf5fa,Virginia,Dudley,Warren Ltd,Hartbury,French Southern Territories,027.846.3705x14184,+1-439-171-1846x4636,zvalencia@phelps.com,2021-01-31,http://hunter-esparza.com/,Evening
69,70,CC68FD1D3Bbbf22,Riley,Good,Wade PLC,Erikaville,Canada,6977745822,855-436-7641,alex06@galloway.com,2020-02-03,http://conway.org/,Evening

In [11]:
# Now we have to create a new dataset set which have 
# subscription date from 2021

new_df = df[df.index > 50]
new_df.head(5)

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website,Timing
51,52,e898eEB1B9FE22b,Samuel,Crawford,"May, Goodwin and Martin",South Jasmine,Algeria,802-242-7457,626.116.9535x8578,xpittman@ritter-carney.net,2021-03-27,https://guerrero.org/,Evening
52,53,faCEF517ae7D8eB,Patricia,Goodwin,"Christian, Winters and Ellis",Cowanfort,Swaziland,322.549.7139x70040,(111)741-4173,vaughanchristy@lara.biz,2021-03-08,http://clark.info/,Evening
53,54,c09952De6Cda8aA,Stacie,Richard,Byrd Inc,New Deborah,Madagascar,001-622-948-3641x24810,001-731-168-2893x8891,clinton85@colon-arias.org,2020-10-15,https://kim.com/,Evening
54,55,f3BEf3Be028166f,Robin,West,"Nixon, Blackwell and Sosa",Wallstown,Ecuador,698.303.4267,001-683-837-7651x525,greenemiranda@zimmerman.com,2022-01-13,https://www.mora.com/,Evening
55,56,C6F2Fc6a7948a4e,Ralph,Haas,Montes PLC,Lake Ellenchester,Palestinian Territory,2239271999,001-962-434-0867x649,goodmancesar@figueroa.biz,2020-05-25,http://may.com/,Evening

In [12]:
# Now with the help of this command we are going to fill the 
# null values in our dataset files 

df['Country'].fillna('Sohail')

0                          Chile
1                       Djibouti
2            Antigua and Barbuda
3             Dominican Republic
4     Slovakia (Slovak Republic)
                 ...
95                        Guyana
96                     Sri Lanka
97               Solomon Islands
98                         Aruba
99                      Honduras
Name: Country, Length: 100, dtype: object

In [13]:
# How to remove columns from the dataset 

# new_df.pop()

In [14]:
# Drops all the null values in the Age column.
df['Customer Id'].dropna()

0     DD37Cf93aecA6Dc
1     1Ef7b82A4CAAD10
2     6F94879bDAfE5a6
3     5Cef8BFA16c5e3c
4     053d585Ab6b3159
           ...
95    cb8E23e48d22Eae
96    CeD220bdAaCfaDf
97    28CDbC0dFe4b1Db
98    c23d1D9EE8DEB0A
99    2354a0E336A91A1
Name: Customer Id, Length: 100, dtype: object

In [15]:
# applying the function and then storing it into another column as df square root


import numpy as np
df['SqRoot_Balance'] = df['Index'].apply(np.sqrt)
df

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website,Timing,SqRoot_Balance
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/,Evening,1.000000
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/,Evening,1.414214
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/,Evening,1.732051
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/,Evening,2.000000
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/,Evening,2.236068
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,2022-01-30,http://hayes-perez.com/,Evening,9.797959
96,97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,+1-846-706-2218,605.413.3198,vkemp@ferrell.com,2021-07-10,https://novak-allison.com/,Evening,9.848858
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,2021-09-18,https://www.ross.com/,Evening,9.899495
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/,Evening,9.949874
99,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,2020-03-11,http://www.hatfield-saunders.net/,Evening,10.000000

### Concat & Merging

In [16]:
# This is how to concat two datasets with the help of pandas



df1 = pd.DataFrame({'A':['A0','A1','A2','A3'],
                    'B':['B0','B1','B2','B3'],
                    'C':['C0','C1','C2','C3'],
                    'D':['D0','D1','D2','D3']},
                    index=[0,1,2,3])
df2 = pd.DataFrame({'A':['A4','A5','A6','A7'],
                    'B':['B4','B5','B6','B7'],
                    'C':['C4','C5','C6','C7'],
                    'D':['D4','D5','D6','D7']},
                    index=[4,5,6,7])
# frames = [df1,df2]
result = pd.concat([df1,df2])

In [17]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [18]:
df2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [19]:
result

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [20]:
'''


table1
cust_id, cust_name
1, satyajit
2, hillary
3, raj
4, shankar

table2
cust_id, salary
2, 10000
3, 25000


Output:- 
cust_id, cust_name, salary
if i do a inner joint 

2, hillary, 10000
3, Raj      25000

if i do a left joint
1, satyjit, -
2, hillary, 10000
3, raj, 25000
4, shankar, -

if i do a right join
2, hillary, 10000
3, raj, 25000


'''

merge_df = pd.merge(df1, df2, on='C',how='left')
merge_df

  A_x B_x   C D_x  A_y  B_y  D_y
0  A0  B0  C0  D0  NaN  NaN  NaN
1  A1  B1  C1  D1  NaN  NaN  NaN
2  A2  B2  C2  D2  NaN  NaN  NaN
3  A3  B3  C3  D3  NaN  NaN  NaN

## loc vs iloc 

The main distinction between the two methods are :

* loc gets rows(and/or columns) with particular labels
* iloc gets rows (and/or columns) at integer locations.

In [31]:
s = pd.Series(list("abcdef"), index = [49,48,47,0,1,2])
s

# s.loc[0]  # value at index label 0,    output = d
# s.iloc[0]   # value at index location 0     output = a

# s.iloc[3::]
s.iloc[::3]

49    a
0     d
dtype: object