## Map, Reduce & Filter

Utility function - maps a collection to another collection object based on certain functionality.

* Syntax = map(function, iterable object)
* Example:
    firstname = ["Adele, Bob, Carie, John"]
* Map the list to obtain the names in the upper case 
* list(map(lambda x:x.upper(),firstname))

* ### Filter
Similar function, but it requires the function to look for a condition and then returns only those elements from the collection that satisfies the condition.

* Data = [d1,d2.......,dn]
* filter(f, data)

* ## Reduce

An operation that breaks down the entire process into pairwise operations and uses the result from each operation , with the successive element.

* Function = f(x,y)
* reduce(f,data):

# Map, Reduce & Filter

In [ ]:
# Area of a circle 

import math 

def area(r):
    return math.pi*(r**2)

radii = [1,2,3,4,5]
areas = []
for r in radii:
    a = area(r)
    areas.append(a)

areas

In [5]:
map(area, radii)

In [ ]:
list(map(area, radii))

In [10]:
# Conversion from celcius scale to Farheneit scale

temps = [("mumbai", 35),("Jammu", 45),("Karnataka", 25),("Pune", 17),("HongKong", 16),("Tokyo", 15)]
type(temps)

list

In [13]:
cel_to_f = lambda data: (data[0], (9/5)*data[1]+32)
map(cel_to_f, temps)
list(map(cel_to_f, temps))

[('mumbai', 95.0),
 ('Jammu', 113.0),
 ('Karnataka', 77.0),
 ('Pune', 62.6),
 ('HongKong', 60.8),
 ('Tokyo', 59.0)]

# Filter function

In [21]:
# Best example of the filter function :

name = ["Sohail", "Neha", 0, 0.0, "", "Muskaan"]
filter(
    None, name
)  # Here None is for the function and name is for the variable name where the raw names are get stored
list(filter(None, name))

['Sohail', 'Neha', 'Muskaan']

In [15]:
# Filter function - filters out the data 

import statistics

data = [1,2,3,4,5,6,7,8,9,10,51,0,5,4,5,65,4,4,94,5,54]
avg = statistics.mean(data)
print(avg)

16.476190476190474

In [16]:
filter(lambda x : x>avg, data)

In [17]:
list(filter(lambda x : x>avg, data))

[51, 65, 94, 54]

In [28]:
names = ["Sohailjatt", "Namrita",0,0.0,"",0.001, "Namrita", "Palakdeep"]
print(names)
filter(None, names)
list(filter(None, names))

['Sohailjatt', 'Namrita', 0, 0.0, '', 0.001, 'Namrita', 'Palakdeep']

['Sohailjatt', 'Namrita', 0.001, 'Namrita', 'Palakdeep']

In [31]:
number = [12,16,21,0,0.0,"",11,5,9,11]
filter(None, number)
list(filter(None, number))

[12, 16, 21, 11, 5, 9, 11]

# Reduce function 

* syntax = reduce(f, data)

In [ ]:
# Example of reduce function 

from functools import reduce
numbers = [12,16,21,12,16,21,11,5,9,11]
multiplier = lambda x, y: x*y
reduce(multiplier, numbers)

88519495680

In [ ]:
data = [1,2,3,4,5]
prev = data[0]

for i in data:
    i = i*prev
    prev = i

print(i)

120